* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #1e417a 0%, #1a396d 50%, #6db3de 100%);

  img {
    width: 220px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
  .topo {
    display: flex;
    align-items: center;
    gap: 25px;

    .amarelo {
      color: rgb(255, 213, 0);
    }
  }
  .logo {
    margin-left: -400px;
  }
}
.hero{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    h1{
        font-size: 40px;
        color: #E4B51A;
        width: 600px;
    }
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background: url('imagens/image\ 28.png') center center; width: 100%; height: 100%;
  .card1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #263b65;
    border-radius: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px; margin-right: 40px;
    .texto {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: left;
      gap: 30px;
      h1 {
        color: white;
      }
      p {
        color: white;
        font-size: 20px;
        width: 300px;
      }
    }
    img {
      width: 300px;
      height: 300px;
    }
  }
  .card2 {
    border-radius: 50px;
    margin-left: 40px; margin-right: 40px;
    background-color: #ebc856;
    display: flex;
    justify-content: space-around;
    .imagem {
      img {
        width: 400px;
        height: 400px;
      }
    }
    .texto {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: left;
      font-size: 20px;
      gap: 30px;
      h1 {
        color: white;
      }
      p {
        color: white;
        width: 300px;
      }
    }
  }
}
footer {
    display: flex;
    justify-content: space-around;
  background-color: #12519f;
  padding-bottom: 50px;
  h1 {
    color: white;
  }
  .doar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p{
        position: fixed;
        bottom: 20px;
        color: white;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #102A5F;
      text-decoration: none;
      width: 200px;
      height: 50px;
      color: white;
    }
  }
  .logo-final{
    height: 250px;
  }
}
