* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #1e417a 0%, #1a396d 50%, #6db3de 100%);

  img {
    width: 220px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
  .topo {
    display: flex;
    align-items: center;
    gap: 25px;

    .amarelo {
      color: rgb(255, 213, 0);
    }
  }
  .logo {
    margin-left: -400px;
  }
}
.hero {
  h1 {
    color: #ffd447;
  }

  h3 {
    color: #1b2d70;
  }

  .comodoar {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 100px;
    gap: 15px;
  }

  .cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      background-color: #ffd447;
      width: 350px;
      height: 150px;
      color: #1b2d70;
      border-radius: 20px;

      p {
        width: 250px;
        padding-top: 10px;
      }
    }
  }
}
/* falta acabar */
.duvidas {
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 100px;
    color: #ffd447;
    margin-left: 5%;
  }
  .duvida {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-right: 10%;
    margin-left: 10%;

    background-color: #1b2d70;
    width: 80%;
    img {
      width: 40px;
    }
  }
  /* imagem está com display none */
  .montros-SA {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.localizacao {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  iframe {
    width: 80%;
  }

  h1 {
    margin-top: 40px;
    color: #ffd447;
  }
  h2,
  h3 {
    color: #1b2d70;
  }
}
.horario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  margin-top: 30px;
  h1 {
    color: #ffd447;
  }
  h3 {
    color: #1b2d70;
  }
}
footer {
    display: flex;
    justify-content: space-around;
  background-color: #12519f;
  padding-bottom: 50px;
  .doar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      color: white;
    }
    p{
        position: fixed;
        bottom: 20px;
        color: white;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #102A5F;
      text-decoration: none;
      width: 200px;
      height: 50px;
      color: white;
    }
  }
  .logo-final{
    height: 250px;
  }
}
