* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    margin-top: 150px;


}



header {

  display: flex;

  justify-content: space-between;

  background: linear-gradient(90deg,
      #1e417a 0%,
      #1a396d 50%,
      #6db3de 100%);

  position: fixed;

  padding-left: 20px;
  padding-right: 20px;

  z-index: 5;

  left: 0;
  top: 0;

  width: 100%;


  /* BOTÃO DE FECHAR ESCONDIDO NO DESKTOP */
  .menuClose {
    display: none;
  }





  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }


  .topo {

    display: flex;

    align-items: center;

    gap: 25px;


    .amarelo {
      color: rgb(255, 213, 0);
    }


    @media(max-width:1050px) {

      position: fixed;

      transform: translateX(-100%);

      top: 0;
      left: 0;

      background-color: #12519F;

      width: 50%;
      height: 100vh;

      flex-direction: column;

      border-right: 1px solid gray;

      padding: 20px;

      gap: 20px;

      transition: transform 0.3s ease;
       
      .divider{
            display: none;
        }  

      .menuClose {

        background: transparent;

        border: none;

        display: flex;



      }

    }

  }


  .logo {
    img {
      width: 220px;
    }
  }

  .close {
    width: 50px;
  }

  .hamburguer {

    display: none;

    border: 0;

    background: transparent;

    cursor: pointer;


    @media(max-width:1050px) {

      display: flex;
      align-items: center;
         
      img {
        height: 50px;
        width: 50px;
      }

    }

  }

}


.isOpen {
  transform: translateX(0) !important;
}



.logo img {
    width: 220px;
}

.topo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.topo a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.topo .amarelo {
    color: rgb(255, 213, 0);
}

.divider{
    

}



.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    margin-bottom: 12px;




    @media (max-width: 1050px) {
        flex-direction: column;
        gap: 80px;

        .lado-direito{
            width: 100%;
        }
    }
}






.contato {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;


}

.contato h1 {
    color: #E4B51A;
    font-size: 42px;
    font-weight: 600;
}

.contato p {
    color: #173b7a;
    font-size: 18px;
}

.informação {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px 0;



}

.informação img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.informação p {
    color: #173b7a;
    font-size: 16px;
}


.lado-direito {
    position: relative;

    display: flex;
    justify-content: center;

}




.imagem-contato {
    position: absolute;

    width: 300px;

    top: -108px;
    right: -57px;

    z-index: 2;

    pointer-events: none;
}


.lado-direito form {
    position: relative;
    z-index: 1;

    width: 650px;
    min-height: 390px;

    padding: 28px 35px 30px;

    background: #E4B51A;
    opacity: 84%;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    gap: 17px;



    @media (max-width: 450px) {
        width: 350px;

    }
}



.campos {
    display: flex;
    gap: 15px;
    width: 100%;
}

.campos input {
    width: 50%;
}




.lado-direito input {
    height: 38px;

    padding: 0 12px;

    border: none;
    outline: none;

    border-radius: 15px;

    background: #f5f5f7;

    color: #555;

    font-size: 13px;
}

.lado-direito input::placeholder {
    color: #71809d;
}


.Assunto {
    width: 100%;
}



.Mensagem {
    width: 100%;
}

.Mensagem textarea {
    width: 100%;
    height: 150px;

    resize: none;

    padding: 12px;

    border: none;
    outline: none;

    border-radius: 15px;

    background: #f5f5f7;

    color: #555;

    font-family: "Poppins", sans-serif;
    font-size: 13px;
}

.Mensagem textarea::placeholder {
    color: #71809d;
}




.Enviar {
    width: 215px;
    height: 43px;

    margin: 10px auto 0;

    border: none;
    border-radius: 13px;

    background: #173b7a;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    font-family: "Poppins", sans-serif;
    font-size: 14px;

    cursor: pointer;

    transition: 0.3s;
}

.Enviar:hover {
    background: #102f63;
    transform: scale(1.03);
}

.Enviar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}