* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #1e417a 0%, #1a396d 50%, #6db3de 100%);

  img {
    width: 220px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
  .topo {
    display: flex;
    align-items: center;
    gap: 25px;

    .amarelo {
      color: rgb(255, 213, 0);
    }
  }
  .logo {
    margin-left: -400px;
  }
}
.hero{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    .esquerda{
        display: flex;
        gap: 20px;
        flex-direction: column;
h1{
    color: #FFD447;
}
p{
    width: 800px;
    font-size: 20px;
    color: #263B65;
}
    }
    .direita{
        img{
            width: 250px;
            height: ;
        }
    }
}
.missao{
    background-color: #12519F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    h1{
color: #FFD447;
    }
    p{
        font-size: 20px;
        text-align: center;
color: white;
width: 800px;
    }
}
.cards{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    .card{
        display: flex;justify-content: center; align-items: center;text-align: center;flex-direction: column;gap: 30px;
        background-color: #E4B51A ;
        border-radius: 20px;
        width: 350px;
        height: 250px;
        h1{
            color: #021350;
        }
    }
}
footer {
    display: flex;
    justify-content: space-around;
  background-color: #12519f;
  padding-bottom: 50px;
  margin-top: 100px;
  .doar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
      color: white;
    }
    p{
        position: fixed;
        bottom: 20px;
        color: white;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: #102A5F;
      text-decoration: none;
      width: 200px;
      height: 50px;
      color: white;
    }
  }
  .logo-final{
    height: 250px;
  }
}