* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #1e417a 0%, #1a396d 50%, #6db3de 100%);

  img {
    width: 220px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
  .topo {
    display: flex;
    align-items: center;
    gap: 25px;

    .amarelo {
      color: rgb(255, 213, 0);
    }
  }
  .logo {
    margin-left: -400px;
  }
}
.hero{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    .esquerda{
        display: flex;
        gap: 20px;
        flex-direction: column;
h1{
    color: #FFD447;
}
p{
    width: 800px;
}
    }
    .direita{
        img{
            width: 250px;
            height: ;
        }
    }
}